<nav class="navbar">
  <div class="container d-flex align-items-center justify-space-between">
    <div class="d-flex align-items-center justify-content-start">
      <div class="nav-item-custom"><a href="/books">Books</a></div>
      <div class="nav-item-custom"><a href="/authors">Authors</a></div>
      <div class="nav-item-custom"><a href="/publishers">Publishers</a></div>
      @if (isAdmin) {
      <div class="nav-item-custom"><a href="/users">Users</a></div>
      }
    </div>

    @if (isLoggedIn) {
    <div class="nav-item-custom">
      <a href="/myprofile">
        Hi, @if (firstName) { {{ firstName }}} @else if (userName) {
        {{ userName }}}!</a
      >
    </div>
    } @if (!isLoggedIn) {
    <div class="nav-item-custom">
      <a class="nav-link" (click)="login()">Login</a>
    </div>
    } @if (isLoggedIn) {
    <div class="nav-item-custom">
      <a class="nav-link" (click)="logout()">Logout</a>
    </div>
    }
  </div>
</nav>
