@if (showError) {
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ errorMessage }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
    (click)="closeAlert()"
  ></button>
</div>
}

<div class="row">
  <div class="col-12">
    <h2 class="mb-3">Author List</h2>
    <div class="mb-3 d-flex justify-content-start">
      <a class="btn btn-outline-primary btn-sm" href="/authors/new"
        >Add a new Author</a
      >
    </div>
    @if (data.data; as authors) {
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Books</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
        @for (author of authors; track author.id) {
        <tr class="align-middle">
          <th scope="row">{{ author.id }}</th>
          <td>
            <a class="author-name" href="/authors/{{ author.id }}"
              >{{ author.firstName }} {{ author.lastName }}</a
            >
          </td>
          <td>
            @for (book of author.books; track book.id; let isLast = $last) {
            <a class="book-name" href="/books/{{ book.id }}">{{
              book.title
            }}</a>
            @if (!isLast) {
            <span>, </span>
            } }
          </td>
          <td>
            <div class="d-flex justify-content-start">
              <a
                class="btn btn-primary btn-sm d-flex justify-content-center align-items-center m-1 p-2 rounded-circle"
                href="/authors/edit/{{ author.id }}"
              >
                <span class="material-icons" style="font-size: 1.3rem"
                  >edit</span
                >
              </a>
              <button
                class="btn btn-danger btn-sm d-flex justify-content-center align-items-center m-1 p-2 rounded-circle"
                (click)="onDeleteClick(author.id)"
              >
                <span class="material-icons" style="font-size: 1.3rem"
                  >delete</span
                >
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>
