<div class="row">
  <div class="col-12">
    <h2 class="mb-3">Author List</h2>
    <div class="mb-3 d-flex justify-content-start">
      <button class="btn btn-outline-primary btn-sm">Add a new Author</button>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Books</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="data.data as authors">
        <tr *ngFor="let author of authors" class="align-middle">
          <th scope="row">{{ author.id }}</th>
          <td>
            {{ author.firstName }}
          </td>
          <td>{{ author.lastName }}</td>
          <td>
            ({{ author.books.length }})
            <span *ngFor="let book of author.books; last as isLast">
              {{ book.title }}

              <span *ngIf="!isLast">, </span>
            </span>
          </td>
          <td>
            <div class="d-flex justify-content-start">
              <a href="#">
                <button
                  class="btn btn-primary btn-sm d-flex justify-content-center align-items-center m-1 p-2 rounded-circle"
                >
                  <span class="material-icons" style="font-size: 1.3rem"
                    >edit</span
                  >
                </button>
              </a>
              <a href="#">
                <button
                  class="btn btn-danger btn-sm d-flex justify-content-center align-items-center m-1 p-2 rounded-circle"
                >
                  <span class="material-icons" style="font-size: 1.3rem"
                    >delete</span
                  >
                </button>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
