@if (showError) {
<div class="alert alert-danger alert-dismissible fade show d-flex align-items-center gap-1" role="alert">
  <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor"
    class="bi bi-exclamation-triangle-fill flex-shrink-0" viewBox="0 0 16 16" role="img" aria-label="Warning:">
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
  </svg>
  <strong>Error: </strong>
  {{ errorMessage }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()"></button>
</div>
}

<div class="row">
  <div class="col-12">
    <h2 class="mb-3">Publisher List</h2>
    @if (authService.hasScope('publishers_create')) {
    <div class="mb-3 d-flex justify-content-start">
      <a class="btn btn-outline-primary btn-sm" href="/publishers/new">
        Add a new Publisher
      </a>
    </div>
    }
    @if (data.data; as publishers) {
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Books</th>
          @if (authService.hasScope('publishers_update') || authService.hasScope('publishers_delete')) {
          <th scope="col">Actions</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (publisher of publishers; track publisher.id) {
        <tr class="align-middle">
          <th scope="col">{{ publisher.id }}</th>
          <td>
            <a class="publisher-name" href="/publishers/{{ publisher.id }}">
              {{ publisher.name }}
            </a>
          </td>
          <td>
            @if (publisher.books.length > 0) { @for (book of publisher.books;
            track book.id) {
            <ul>
              <li>
                <a class="book-name" href="/books/{{ book.id }}">{{
                  book.title
                  }}</a>
                <span> ({{ book.year | date : "yyyy" }}) </span>
                @if (book.authors.length > 0) {
                <span>by </span>
                @for (author of book.authors; track author.id; let isLast =
                $last) {
                <a class="author-name">{{ author.firstName }} {{ author.lastName }}</a>
                @if (!isLast) {
                <span>, </span>
                } @else {
                <span>.</span>
                } } }
              </li>
            </ul>
            } } @else {
            <span class="text-muted">---</span>
            }
          </td>
          @if (authService.hasScope('publishers_update') || authService.hasScope('publishers_delete')) {
          <td>
            <div class="d-flex justify-content-start">
              @if (authService.hasScope('publishers_update')) {
              <a class="btn btn-primary btn-sm d-flex justify-content-center align-items-center m-1 p-2 rounded-circle"
                href="/publishers/edit/{{ publisher.id }}">
                <span class="material-icons" style="font-size: 1.3rem">edit</span>
              </a>
              } @if (authService.hasScope('publishers_delete')) {
              <button
                class="btn btn-danger btn-sm d-flex justify-content-center align-items-center m-1 p-2 rounded-circle"
                (click)="onDeleteClick(publisher.id)">
                <span class="material-icons" style="font-size: 1.3rem">delete</span>
              </button>
              }
            </div>
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>