<div class="row">
  <div class="col-12">
    <h2 class="mb-3">Book List</h2>
    <div class="mb-3 d-flex justify-content-start">
      <a class="btn btn-outline-primary btn-sm" href="/books/new">
        Add a new Book
      </a>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Year</th>
          <th scope="col">Authors</th>
          <th scope="col">Publisher</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (data; as response) { @for (book of response.data; track book.id) {
        <tr class="align-middle">
          <th scope="row">{{ book.id }}</th>
          <td>
            <a class="book-name" href="/books/{{ book.id }}">{{
              book.title
            }}</a>
          </td>
          <td>{{ book.year | date : "y" }}</td>
          <td>
            @if (book.authors && book.authors.length > 0) { @for (author of
            book.authors; track author.id; let isLast = $last) {
            <a href="/authors/{{ author.id }}"
              ><span class="author-name">
                {{ author.firstName }} {{ author.lastName }}</span
              ></a
            >
            @if (!isLast) {<span>, </span>} } }
          </td>
          <td>
            <a href="/publishers/{{ book.publisher.id }}"
              ><span class="publisher-name">{{ book.publisher.name }}</span></a
            >
          </td>
          <td>
            <div class="d-flex justify-content-start">
              <a
                class="btn btn-primary btn-sm d-flex justify-content-center align-items-center m-1 p-2 rounded-circle"
                href="/books/edit/{{ book.id }}"
              >
                <span class="material-icons" style="font-size: 1.3rem"
                  >edit</span
                >
              </a>
              <button
                class="btn btn-danger btn-sm d-flex justify-content-center align-items-center m-1 p-2 rounded-circle"
                (click)="onDeleteClick(book.id)"
              >
                <span class="material-icons" style="font-size: 1.3rem"
                  >delete</span
                >
              </button>
            </div>
          </td>
        </tr>
        } }
      </tbody>
    </table>
  </div>
</div>
