@if (showError) {
<div class="alert alert-danger alert-dismissible fade show d-flex align-items-center gap-1" role="alert">
  <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor"
    class="bi bi-exclamation-triangle-fill flex-shrink-0" viewBox="0 0 16 16" role="img" aria-label="Warning:">
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
  </svg>
  <strong>Error: </strong>
  {{ errorMessage }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()"></button>
</div>
}

<div class="row">
  <div class="col-12">
    <h2 class="mb-3">Book List</h2>
    @if (authService.hasScope('books_create')) {
    <div class="mb-3 d-flex justify-content-start">
      <a class="btn btn-outline-primary btn-sm" href="/books/new">
        Add a new Book
      </a>
    </div>
    }
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Year</th>
          <th scope="col">Authors</th>
          <th scope="col">Publisher</th>
          @if (authService.hasScope('books_update') || authService.hasScope('books_delete')) {
          <th scope="col">Actions</th>
          }
        </tr>
      </thead>
      <tbody>
        @if (data; as response) { @for (book of response.data; track book.id) {
        <tr class="align-middle">
          <th scope="row">{{ book.id }}</th>
          <td>
            <a class="book-name" href="/books/{{ book.id }}">{{
              book.title
              }}</a>
          </td>
          <td>{{ book.year | date : "y" }}</td>
          <td>
            @if (book.authors && book.authors.length > 0) { @for (author of
            book.authors; track author.id; let isLast = $last) {
            <a href="/authors/{{ author.id }}"><span class="author-name">
                {{ author.firstName }} {{ author.lastName }}</span></a>
            @if (!isLast) {<span>, </span>} } }
          </td>
          <td>
            <a href="/publishers/{{ book.publisher.id }}"><span class="publisher-name">{{ book.publisher.name
                }}</span></a>
          </td>
          @if (authService.hasScope('books_update') || authService.hasScope('books_delete')) {
          <td>
            <div class="d-flex justify-content-start">
              @if (authService.hasScope('books_update')) {
              <a class="btn btn-primary btn-sm d-flex justify-content-center align-items-center m-1 p-2 rounded-circle"
                href="/books/edit/{{ book.id }}">
                <span class="material-icons" style="font-size: 1.3rem">edit</span>
              </a>
              } @if (authService.hasScope('books_delete')) {
              <button
                class="btn btn-danger btn-sm d-flex justify-content-center align-items-center m-1 p-2 rounded-circle"
                (click)="onDeleteClick(book.id)">
                <span class="material-icons" style="font-size: 1.3rem">delete</span>
              </button>
              }
            </div>
          </td>
          }
        </tr>
        } }
      </tbody>
    </table>
  </div>
</div>